<div  class="row">
  <div *ngIf="quantite!==0" class="col-md-4">
    <p>Le tableau du panier</p>

    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="text-center">Nom</th>
          <th scope="col" class="text-center">Prix</th>
          <th scope="col" class="text-center">Photo</th>
          <th scope="col" class="text-center">Retirer</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let parfum of panier">
          <!-- <th scope="row"></th> -->
          <td class="text-center">{{ parfum.nom}}</td>
          <td class="text-center"><img width="40" height="40" src="{{parfum.photo}}" alt="photo"></td>
          <td class="text-center">{{parfum.prix}}€</td>
          <td class="text-center">{{parfum.quantite}}</td>
          <td class="text-center"><button (click)="retraitPanier(parfum.nom)" class="btn btn-danger">X</button></td>
        </tr>
        <tr>
          <!-- <th scope="row"></th> -->
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>

           <!-- <td class="text-center"><button class="btn btn-danger"></button> -->
            <!-- </td> -->

        </tr>
        <tr>
          <!-- <th scope="row"></th> -->
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>

          <!-- <td class="text-center"><button class="btn btn-danger"></button> -->
          <!-- <a href="#" class="btn btn-primary">supprimer</a> -->
          <!-- </td> -->
        </tr>


      </tbody>
    </table>
    <p class="text-end">Total: {{ quantite}} articles <strong>{{ total() | currency: '€'}}</strong></p>
  </div>
  <div [class.col]="quantite==0" [class.col-md-8]="quantite!==0">
    <div  class="row justify-content-around">

        <div *ngFor="let produit of produits" class="card col-md-2 mb-2 ps-0 pt-0" style="width: 16rem;">
          <div class="card-header bg-dark text-white text-center">
            {{ produit.marque }}
          </div>
            <img src="{{produit.photo}}" class="card-img-top" alt="photo {{ produit.nom }}">
            <div class="card-body">
              <h4 class="card-title">{{ produit.nom }}</h4>
              <div><h5>{{ produit.prix}} €</h5>
              </div>

            <app-detail [cont]="produit.contenance" [desc]="produit.description" ></app-detail>

              <a href="#" (click)="ajoutPanier(produit, produit.nom)" class="btn btn-primary">Ajouter au panier</a>
            </div>
          </div>
    </div>
  </div>
</div>




